﻿<div id="StopApplication" ng-controller="StopApplicationController as vm">

    <umb-box>
        <umb-box-content>
            <h3 class="bold" style="margin-bottom: -.25em;">App Stop</h3>

            <div>
                <div>
                    <p></p>
                    <p>
                        The button below calls IHostApplicationLifetime.StopApplication() to stop this Umbraco App.
                        If running on IIS, the app will start again upon receiving a new request.
                    </p>
                </div>
            </div>
            <div>
                <button type="button" ng-click="vm.stopApp()" class="btn btn-danger">
                    <span>Stop App</span>
                </button>
            </div>
        </umb-box-content>
    </umb-box>

</div>